<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24541811517-9rd504g71qggut24f32hta4qbrfjfjql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24541811517-9rd504g71qggut24f32hta4qbrfjfjql</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24541811517-47nhe1i73d384jbep45oeb48bddc0hu6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCpUmbQSO6gRTTwVVuLzeyv8Z0q6Jzmqo</string>
	<key>GCM_SENDER_ID</key>
	<string>24541811517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weNeighbourProject</string>
	<key>PROJECT_ID</key>
	<string>weneighbour-c2e23</string>
	<key>STORAGE_BUCKET</key>
	<string>weneighbour-c2e23.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24541811517:ios:f06a45c833433da61eeb54</string>
	<key>DATABASE_URL</key>
	<string>https://weneighbour-c2e23-default-rtdb.firebaseio.com</string>
</dict>
</plist>